{{#> layouts/base title=""}}

    {{#*inline "body-block"}}
        <h1>Simple Spring Security</h1>

        <hr>

        <div class="row">
            <h2>ANONYMOUS 권한으로 접속하였습니다.</h2>
        </div>
    {{/inline}}

    {{#*inline "script-block"}}
    {{/inline}}
{{/layouts/base}}