{{#> layouts/base title="INDEX"}}

    {{#*inline "body-block"}}
        <h1>Simple Spring Security</h1>
        <hr>
        <div class="row">
            <ul>
                <li><a href="/anonymous">anonymous</a></li>
                <li><a href="/user">user</a></li>
                <li><a href="/admin">admin</a></li>
            </ul>
        </div>
    {{/inline}}

    {{#*inline "script-block"}}
    {{/inline}}
{{/layouts/base}}